/* Toplevel pseudo */
.namespaced :hover {
  color: red;
}

/* Custom selector */
.namespaced {
  color: blue;
}

/* toplevel class */
.namespaced .title {
  font-weight: bold;
}

/* Custom */
.namespaced .title {
  color: black;
}

/* Toplevel element */
.namespaced div {
  display: block;
}

/* Multiple selecors */
.namespaced .foo, .namespaced .bar {
  color: yellow;
}

/* NOT */
.namespaced :not(.foo, .bar) {
  color: purple;
}
