$break-small: 320px;
$break-large: 1200px;

:--namespace {
  float: left;
  width: 250px;
  h1 {
    font-weight: bold;
  }
  @media screen and (max-width: $break-small) {
    width: 100px;
    float: none;
    h1 {
      font-size: 32px;
    }
  }
  @media screen and (min-width: $break-large) {
    float: right;
    h1 {
      font-size: 48px;
    }
  }
}
